* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0px 6px 10px -7px grey;
  padding: 5px;
  position: relative;
}

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  background-color: #f3f3f3;
  text-align: center;
  padding: 7px;
}
.city i {
  font-size: 20px;
  padding-right: 10px;
}

.explorer {
  text-align: center;
  padding-bottom: 20px;
  background-color: #f6f6f6;
}
.explorer h2 {
  font-size: 30px;
  margin-top: 0px;
  padding-top: 40px;
}
.explorer p {
  font-size: 15px;
  margin: 0px 40px 15px 40px;
}
.explorer button {
  margin-top: 20px;
  border: none;
  color: white;
  padding: 15px;
  width: 15%;
  max-width: 204px;
  min-width: 204px;
  border-radius: 30px;
  transition: all 200ms;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-image: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
}
@media (max-width: 800px) {
  .explorer button {
    width: 50%;
  }
}
.explorer button:hover {
  transform: scale(1.02);
  opacity: 0.9;
  cursor: pointer;
}

.function {
  padding-top: 20px;
  padding-right: 10px;
  margin-bottom: 30px;
}
.function h2 {
  padding: 0 20px;
}
.function ol {
  list-style: none;
  display: flex;
  gap: 30px;
}
@media (max-width: 992px) {
  .function ol {
    flex-direction: column;
  }
}
.function li {
  position: relative;
  background-color: #f6f6f6;
  padding: 24px 30px;
  flex-grow: 1;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.function li:hover {
  transform: scale(1.02);
  cursor: pointer;
}
.function .colored {
  background-color: #eee5f7;
}
.function .colored i.fas {
  color: #9356dc;
}
.function span {
  background-color: #9356dc;
  color: white;
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 24px;
  left: -15px;
}
.function i.fas {
  margin-right: 15px;
  font-size: 24px;
  color: #7e7e7e;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 8px 0px 0px 0px;
}
.restaurants h2 {
  padding: 20px 0px 0px 20px;
}
.restaurants .restaurants__card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
  padding: 15px 20px;
  padding-bottom: 70px;
}
.restaurants .restaurants__card .new {
  position: relative;
}
.restaurants .restaurants__card .new::before {
  content: "Nouveau";
  position: absolute;
  background-color: #99E2D0;
  color: #1a8a68;
  display: flex;
  justify-content: center;
  place-items: center;
  height: 30px;
  width: 80px;
  font-weight: bold;
  right: 15px;
  top: 15px;
}
.restaurants .card {
  background-color: white;
  border-radius: 15px;
  flex-grow: 1;
  height: 280px;
  min-width: 374px;
  width: 40%;
  text-decoration: none;
}
.restaurants .card .card__picture {
  border-radius: 15px 15px 0px 0px;
  height: 187px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.restaurants .card .card__description {
  position: relative;
}
.restaurants .card .card__description h3,
.restaurants .card .card__description p {
  color: black;
  margin-left: 10px;
  margin-bottom: -7px;
}
.restaurants .card .card__description i {
  color: black;
  font-size: 30px;
  position: absolute;
  top: 1px;
  right: 15px;
}
.restaurants .card .card__description .fas {
  color: transparent;
  background-image: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
}
.restaurants .card .card__description:hover .fas {
  opacity: 1;
  transform: scale(1.09);
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: white;
  padding: 15px 30px;
}
footer h2 {
  font-family: "Shrikhand", cursive;
}
footer a {
  margin-bottom: 10px;
  font-size: 20px;
  text-decoration: none;
  color: inherit;
}
footer a .fa-utensils {
  margin-right: 15px;
}
footer a .fa-hands-helping {
  margin-right: 7px;
}

.palette__picture img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

.palette__main {
  position: relative;
}
.palette__main .title-restaurants {
  padding: 30px 24px;
  margin-top: -25px;
  margin-bottom: 0px;
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  border-radius: 30px 30px 0 0;
  background-color: #f3f3f3;
}
.palette__main i {
  color: black;
  font-size: 30px;
  position: absolute;
  top: 25px;
  right: 100px;
}
.palette__main .fas {
  color: transparent;
  background-image: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
}
.palette__main:hover .fas {
  opacity: 1;
  transform: scale(1.09);
  cursor: pointer;
}

.flex-meal {
  margin: 0px;
  background-color: #f3f3f3;
  display: flex;
  gap: 15px;
  flex-direction: column;
  padding: 15px 10px;
}
.flex-meal .meal-title {
  padding: 15px 10px;
  text-transform: uppercase;
  position: relative;
}
.flex-meal .meal-title::after {
  content: "";
  height: 4px;
  width: 40px;
  background-color: #99E2D0;
  position: absolute;
  top: 40px;
  left: 10px;
}
.flex-meal .menu-align {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 10px;
}
.flex-meal .menu-align .name-menu,
.flex-meal .menu-align .description-menu {
  text-overflow: ellipsis;
  white-space: nowrap;
}
.flex-meal .menu-align .name-menu,
.flex-meal .menu-align .description-menu,
.flex-meal .menu-align .price {
  margin: 0px;
}
.flex-meal .meal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.flex-meal .meal .description-menu {
  font-weight: lighter;
}
.flex-meal .meal .price-align {
  display: flex;
  overflow: hidden;
}
.flex-meal .meal .price-align .price {
  padding: 0px 15px;
  display: flex;
  align-items: end;
}
.flex-meal .meal .price-align__check {
  background-color: #99E2D0;
  border-radius: 0px 20px 20px 0px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: -16px -120px -16px 16px;
  transition-duration: 0.5s;
  width: 104px;
}
.flex-meal .meal:hover .price-align__check {
  margin: 0px;
}
.flex-meal .meal .check-items {
  align-items: center;
  background-color: white;
  border-radius: 100px;
  color: #99E2D0;
  display: flex;
  height: 25px;
  justify-content: center;
  transform: rotate(180deg);
  transition-duration: 1s;
  width: 25px;
}
.flex-meal .meal:hover .check-items {
  transform: rotate(0deg);
}

.flex-meal {
  background-color: #f3f3f3;
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 15px 10px;
}
.flex-meal .flat {
  background-color: white;
  border-radius: 20px;
}

.order {
  display: flex;
  justify-content: space-around;
  padding: 30px 0px;
  margin-bottom: 15px;
}
.order button {
  margin-top: 20px;
  border: none;
  color: white;
  padding: 15px;
  width: 15%;
  max-width: 204px;
  min-width: 204px;
  border-radius: 30px;
  transition: all 200ms;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-image: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
}
@media (max-width: 800px) {
  .order button {
    width: 50%;
  }
}
.order button:hover {
  transform: scale(1.02);
  opacity: 0.9;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
