* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0px 6px 10px -7px grey;
  padding: 5px;
  position: relative;
}

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  background-color: #f3f3f3;
  text-align: center;
  padding: 7px;
}
.city i {
  font-size: 20px;
  padding-right: 10px;
}

.explorer {
  text-align: center;
  padding-bottom: 20px;
  background-color: #f6f6f6;
}
.explorer h2 {
  font-size: 30px;
  margin-top: 0px;
  padding-top: 40px;
}
.explorer p {
  font-size: 15px;
  margin: 0px 40px 15px 40px;
}
.explorer button {
  margin-top: 20px;
  border: none;
  color: white;
  padding: 15px;
  width: 15%;
  max-width: 204px;
  min-width: 204px;
  border-radius: 30px;
  background-image: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
  transition: all 200ms;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
@media (max-width: 800px) {
  .explorer button {
    width: 50%;
  }
}
.explorer button:hover {
  transform: scale(1.02);
  opacity: 0.9;
  cursor: pointer;
}

.function {
  padding-top: 20px;
  padding-right: 10px;
  margin-bottom: 30px;
}
.function h2 {
  padding: 0 25px;
}
.function ol {
  list-style: none;
  display: flex;
  gap: 30px;
}
@media (max-width: 992px) {
  .function ol {
    flex-direction: column;
  }
}
.function li {
  position: relative;
  background-color: #f6f6f6;
  padding: 24px 30px;
  flex-grow: 1;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.function li:hover {
  transform: scale(1.02);
  cursor: pointer;
}
.function .colored {
  background-color: #eee5f7;
}
.function .colored i.fas {
  color: #9356dc;
}
.function span {
  background-color: #9356dc;
  color: white;
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 24px;
  left: -15px;
}
.function i.fas {
  margin-right: 15px;
  font-size: 24px;
  color: #7e7e7e;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 8px 0px 0px 0px;
}
.restaurants h2 {
  padding: 20px 0px 0px 15px;
}
.restaurants .restaurants__card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
  padding: 15px 20px;
}
.restaurants .restaurants__card .new {
  position: relative;
}
.restaurants .restaurants__card .new::before {
  content: "Nouveau";
  position: absolute;
  background-color: #99E2D0;
  color: #1a8a68;
  display: flex;
  justify-content: center;
  place-items: center;
  height: 30px;
  width: 80px;
  font-weight: bold;
  right: 15px;
  top: 15px;
}
.restaurants .card {
  background-color: white;
  border-radius: 15px;
  flex-grow: 1;
  height: 280px;
  min-width: 374px;
  width: 40%;
  text-decoration: none;
}
.restaurants .card .card__picture {
  border-radius: 15px 15px 0px 0px;
  height: 187px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.restaurants .card .card__description {
  color: black;
  padding: 0px 0px 0px 10px;
  margin-top: -2px;
}
.restaurants .card .card__description p {
  margin-top: -10px;
}

/*# sourceMappingURL=style.css.map */
