@use "../utils/colors.scss";
.restaurants {
    background-color: colors.$lightgrey;
    padding: 8px 0px 0px 0px;
    & h2 {
        padding: 20px 0px 0px 15px;
    }
    & .restaurants__card {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 30px;
        padding: 15px 20px;
        & .new {
            position: relative;
        }
        & .new::before {
            content: "Nouveau";
            position: absolute;
            background-color: colors.$backgreen;
            color: colors.$fontgreen;
            display: flex;
            justify-content: center;
            place-items: center;
            height: 30px;
            width: 80px;
            font-weight: bold;
            right: 15px;
            top: 15px;
        }
    }
    & .card {
        background-color: white;
        border-radius: 15px;
        flex-grow: 1;
        height: 280px;
        min-width: 374px;
        width: 40%;
        text-decoration: none;
        & .card__picture {
            border-radius: 15px 15px 0px 0px;
            height: 187px;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
        & .card__description {
            position: relative;
            & h3,
            p {
                color: black;
                margin-left: 10px;
                margin-bottom: -7px
            }
            & i {
                color: black;
                font-size: 30px;
                position: absolute;
                top: 1px;
                right: 15px;
            }
        }
    }
}