@use "../utils/colors.scss";
.restaurants {
    background-color: colors.$lightgrey;
    padding: 8px 0px 0px 10px;
    & h2 {
        padding: 20px 0px 0px 15px;
    }
    & .restaurants__card {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 30px;
        padding: 15px 20px;
    }
    & .card {
        background-color: white;
        border-radius: 15px;
        flex-grow: 1;
        height: 280px;
        min-width: 374px;
        width: 40%;
        text-decoration: none;
        & .card__picture {
            border-radius: 15px 15px 0px 0px;
            height: 187px;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
        & .card__description {
            color: black;
            padding: 0px 0px 0px 10px;
            margin-top: -2px;
            & p {
                margin-top: -10px;
            }
        }
    }
}