.city {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    background-color: #e8e7e7;
    text-align: center;
    padding: 7px;
    & i {
        font-size: 20px;
        padding-right: 10px;
    }
}