@use "../utils/box-shadow.scss";
@use "../utils/zoom.scss";
@use "../utils/colors.scss";
.explorer {
    text-align: center;
    padding-bottom: 20px;
    background-color: colors.$lightgrey;
    & h2 {
        font-size: 30px;
        margin-top: 0px;
        padding-top: 40px;
    }
    & p {
        font-size: 15px;
        margin: 0px 40px 15px 40px;
    }
    & button {
        margin-top: 20px;
        border: none;
        color: white;
        padding: 15px;
        width: 15%;
        max-width: 204px;
        min-width: 204px;
        border-radius: 30px;
        background-image: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
        transition: all 200ms;
        @include box-shadow.shadow-1;
        @media (max-width: 800px) {
            width: 50%;
        }
    }
    & button:hover {
        @include zoom.zoom;
        opacity: 0.9;
        cursor: pointer;
    }
}