@use "../utils/mixins.scss";
@use "../utils/colors.scss";
.palette__picture img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.palette__main {
    position: relative;
    & .title-restaurants {
        padding: 30px 24px;
        margin-top: -25px;
        margin-bottom: 0px;
        font-family: 'Shrikhand', cursive;
        border-radius: 30px 30px 0 0;
        background-color: colors.$menugrey;
    }
    & i {
        color: black;
        font-size: 30px;
        position: absolute;
        top: 25px;
        right: 100px;
    }
    & .fas {
        color: transparent;
        @include mixins.gradient;
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        transition: all 200ms ease-in-out;
    }
    &:hover .fas {
        opacity: 1;
        transform: scale(1.09);
    }
}

.flex-meal {
    margin: 0px;
    background-color: colors.$menugrey;
    display: flex;
    gap: 15px;
    flex-direction: column;
    padding: 15px 10px;
    & .menu-align {
        display: flex;
        flex-direction: column;
        gap: 6px;
        & .name-menu,
        .description-menu,
        .price {
            margin: 0px;
        }
    }
    & .meal {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: white;
        border-radius: 20px;
        padding: 10px;
        & .description-menu {
            font-weight: lighter;
        }
        & .price-align {
            position: relative;
            top: 13px;
            right: 10px;
        }
    }
}

.flex-meal {
    background-color: colors.$menugrey;
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 15px 10px;
    & .flat {
        background-color: white;
        border-radius: 20px;
    }
}

.order {
    display: flex;
    justify-content: space-around;
    padding: 30px 0px;
    margin-bottom: 15px;
    button {
        margin-top: 20px;
        border: none;
        color: white;
        padding: 15px;
        width: 15%;
        max-width: 204px;
        min-width: 204px;
        border-radius: 30px;
        transition: all 200ms;
        @include mixins.shadow-1;
        @include mixins.gradient;
        @media (max-width: 800px) {
            width: 50%;
        }
        &:hover {
            @include mixins.zoom;
            opacity: 0.9;
            cursor: pointer;
        }
    }
}